src/blobs/*
innerClasses/*
bin/**
innerClasses:
setupFiles:
/bin/
org.eclipse.jdt.ui.prefs
blobs
CJam/src/server/generated/MainCanvas.java
CJam/src/server/generated/MainCanvasAdd.java
src/server/generated/MainCanvas.java
src/server/generated/MainCanvasAdd.java
